<!DOCTYPE html>
<html>
<head>
  <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500,600,700|Open+Sans:300,400,600,700" rel="stylesheet">
  <title>Workspace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
    <div id="wrap">
<%= render 'shared/nav' %>
<div class="top-right">
  <a href="#">All Ideas</a>
  <a href="#">Inspire Me</a>
  <a href="#">About</a>
</div>
<div class="container">
<%= yield %>
</div>
</div>
<%= render 'shared/footer' %>
</body>
</html>
